infra/n8n/workflows/content-pipeline.json
{
  "name": "Content Pipeline - RSS to AI to Store",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "={{ $json.feedUrl }}",
        "options": {}
      },
      "id": "rss-feed",
      "name": "RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [460, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai:8001/v1/summarize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant-ID",
              "value": "={{ $json.tenantId }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "max_length",
              "value": "500"
            }
          ]
        }
      },
      "id": "ai-summarize",
      "name": "AI Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "position": [680, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai:8001/v1/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant-ID",
              "value": "={{ $json.tenantId }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.summary }}"
            }
          ]
        }
      },
      "id": "ai-embed",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "content_items",
        "columns": "title,summary,embedding,source_url,tenant_id,created_at",
        "values": "={{ $json.title }},={{ $json.summary }},={{ $json.embedding }},={{ $json.sourceUrl }},={{ $json.tenantId }},={{ $now.toISO() }}"
      },
      "id": "store-db",
      "name": "Store in Database",
      "type": "n8n-nodes-base.postgres",
      "position": [1120, 300],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "channel": "#content-alerts",
        "text": "=New content processed: {{ $json.title }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "position": [1340, 300],
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed": {
      "main": [
        [
          {
            "node": "AI Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Store in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Database": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["content", "ai", "pipeline"],
  "triggerCount": 1
}
